{% extends 'base.html' %}

{% block title %}
  {{ _('Авторизация') }}
{% endblock %}

{% block content_title %}
  {{ _('Авторизация') }}
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">
  {% from "security/_macros.html" import render_field_with_errors, render_field %}
  {% include "security/_messages.html" %}


  <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
    {{ login_user_form.hidden_tag() }}

    {{ render_field_with_errors(login_user_form.email, class='form-control', label='Адрес электронной почты') }}

    {{ render_field_with_errors(login_user_form.password, class='form-control', label='Пароль') }}
    {{ render_field_with_errors(login_user_form.remember, 'Запомнить меня') }}
    {{ render_field(login_user_form.next, class="form-group form-check") }}
    {{ render_field(login_user_form.submit, class='btn btn-success col align-self-center', value='Войти') }}
  </form>
  {% include "security/_menu.html" %}
</div>
{% endblock %}