<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous">
    </script>

    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %} | flaskAPP
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-inverse bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        WINKOOL
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('posts.index') }}">
                Блог
                <span class="sr-only">
                    (current)
                </span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('posts.create_post') }}">
                Создать
                <span class="sr-only">
                    (current)
                </span>
            </a>
        </li>
    </ul>



    <form class="form-inline my-2 my-lg-0" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
               name="q"
               value="{{ request.args.get('q', '') }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>
</nav>
<div class="container">
    <div class="row">
        <h1>
            {% block content_title %}

            {% endblock %}
        </h1>
    </div>

    {% block content%}

    {% endblock %}
</div>

</body>
</html>